*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

.container{
width: 100%;
height: 700px;
border: 2px solid;
border-color: black;
display: flex;
flex-direction: column;
justify-content: space-between;

}

header{
height: 100px;
background-color: chartreuse;
}

footer{
    height: 100px;
    background-color: rgb(255, 38, 0);
    justify-content: end;
}

main{
    width: 80%;
    background-color: deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 0px;
}

aside{
    width: 30%;
    background-color: aqua;
    order: -1;
}
.principal{
    display: flex;
    height: 100%;
}

.section1{
    border: 2px solid;
    border-color: black;
    width: 50%;
    height: 50%;
     display: flex;
    justify-content: space-evenly;
   
    align-items: center;
}

.bloco{
    background-color: cornflowerblue;
    padding: 40px;
    border: 2px solid;
}

.footersection{
    border: 2px solid;
    border-color: black;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    
}